:root {
            --primary: #0d1b2a;
            --secondary: #1b263b;
            --accent: #415a77;
            --light: #778da9;
            --text: #e0e1dd;
            --highlight: #e63946;
            --dark: #0a0f17;
            --silver: #c0c0c0;
        }
body{
    background: var(--dark);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.scroll{
    max-height: 73vh;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    align-items: center;
}
.cyber-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgba(0, 150, 255, 0.2);
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.5);
    animation: rotate 20s linear infinite;
}

.cyber-circle::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00a2ff;
    border-radius: 50%;
    box-shadow: 0 0 20px #00a2ff,
                0 0 40px #00a2ff,
                0 0 60px #00a2ff,
                0 0 80px #00a2ff;
    }
.cyber-circle:nth-child(2) {
    width: 500px;
    height: 500px;
    animation: rotate 30s linear infinite reverse;
}
.cyber-circle:nth-child(3) {
    width: 700px;
    height: 700px;
    animation: rotate 40s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        }
    100% {
            transform: rotate(360deg);
        }
    }
.cyber-dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}
.cyber-dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(0, 162, 255, 0.5);
    border-radius: 50%;
}
h1{
  color: var(--text);
  text-align: center;
  font-size: 1.5em;
}
h2{
    color: #f8441d;
    text-align: center;
    font-size: 1em;
}
h3{
    text-align: center;
    color: var(--text);
    font-size: 1em;
}
span{
    color: var(--highlight);
}
table{
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}
td{
    color: #A9A9A9;
}
caption{
  font-size: 1.5em;
  color: #708db7;
  font-weight: bolder;
  padding: 5px;
  margin-top: 10px;
}
textarea{
    width: 98%;
    min-height: 100px;
    font-weight: bolder;
    font-size: 1.5em;
    color: gray;
    padding: 5px;
}
.texareaTd{
    width: 80%;
}
.texareaTd textarea{
    background: transparent;
    color: rgb(255, 255, 255, .6);
}

th{
    color: #708090;
    font-weight: bolder;
    background-color: rgb(255, 255, 255, .1);
    font-size: 1em;
}
footer{
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 255, 255, .6);
}
select{
    height: 35px;
    border-radius: 3px;
    font-weight: bolder;
    text-align: center;
    background: none;
    border: solid 1px var(--highlight);
    color: #f8441d;
    text-align: center;
    width: 100%;
}
input{
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    width: 100%;
    height: 33px;
    color: gray;
}
input[type="text"]{
    background: none;
    border: solid 1px #778899;
    color: #f8441d;
}
input[type="date"]{
    background: none;
    border: solid 1px #778899;
    color: #f8441d;
    width: 150px;
}
.date{
    width: 150px;
}
input[type="time"]{
    background: none;
    border: solid 1px #778899;
    color: #f8441d;
    width: 150px;
}
input[type="file"]{
    background: none;
    border: solid 1px #778899;
    color: #f8441d;
    width: 100%;
}
.ocultar{
    display: none;
}
/* ===========================================tablas de consulta=================================*/
.claro{
    background-color: #2f4473;
    opacity: .7;
}
.oscuro{
    background-color: #1e2a54;
    opacity: .7;
}
.logc{
    background-color: #434444;
    color: #1a9839;
}
.logo{
    background-color: #1f1f1f;
    color: #1a9839;
}
.t_search{
    text-align: center;
    width: 100%;
}
#ver{
    color: #f8441d;
    text-align: center;
    width: 100%;
}
.date{
    width: 120px;
}
.no{
    width: 60px;
    text-align: center;
    font-size: 1em;
}