.c_menu{
  max-width: 1400px;
  height: 90px;
  background: none;
  margin: 0 auto;
  border: 1px solid var(--light);
  }
  
.m_imagen img{
   width: 70px;
   object-fit: cover;
   border-radius: 13px;
   float: left;
   margin-left: 30px;
   
  }
.menu{
  max-width: 1000px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  
}
.menu div{
  display: inline-block
}
.m_nombre{
    width: 50%;
    text-align: center;
    color:rgb(255, 255, 255, .6);
    font-size: 1em;
    float: left;
    margin-top: 45px;
}
.m_item{
    margin-left: 10px;
    display: inline-block;
}
.m_boton{
    display: inline-block;
    border: solid #495881 .5px;
}
.m_boton:hover{
    opacity: .5;
}
.m_boton img{
    width: 40px;
}
.m_select {
    /*border: solid .5px #20bcd8;*/
}
