
.bgModal{/*Fondo para todos los modaloes*/
      position: fixed; 
      z-index: 1;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; 
      overflow: auto; 
      background: var(--dark);
}
.modal1{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    border: solid 1px #20bcd8;
    border-radius: 5px;
    max-width: 500px;
}
.modal2{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    border: solid 1px #20bcd8;
    border-radius: 5px;
    max-width: 600px;
    max-height: 100%;
}
.modal3{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    border: solid 1px #20bcd8;
    border-radius: 5px;
    max-width: 700px;
}
.modal4{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    border: solid 1px #20bcd8;
    border-radius: 5px;
    max-width: 1300px;
}
.modal5{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    border: solid 1px #20bcd8;
    border-radius: 5px;
    max-width: 1300px;
}
.modal6{/*Caja contenedora*/
    border: 2px solid rgba(59, 130, 246, 0.3);
    margin: auto;
    padding: 20px;
    
    border-radius: 5px;
    max-width: 1300px;
    height: 80%;
}
.modalImagen{/*Caja contenedora*/
    background-color: rgb(255, 255, 255, .1);
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 1300px;
    max-height: 800px;
}
.modalImagen img{
    max-width: 1300px;
    max-height: 800px;
}
 /*=====================Usuarios======================================================================

/*Para el modal de insert*/
#archivo_t img{
    width: 150px;
}
.th_foto{
    width: 200px;
    text-align: center;
}
.archivo_t{
    width: 200px;
}

/*==============================================Ver PDF==============================================*/
.m_ver_pdf{
    height: 100%;
    margin-top: -50px;
}
.m_ver_pdf iframe{
    width: 100%;
    height: 100%;
}
#formEvidencia img{

}
.modal5 textarea{
    height: 150px;
}
/*===================================================Graficas=========================================*/
.modal6 table{
    height: 90%;
    text-align: center;
    
}
.modal6 td{
    border: solid 1px #20bcd8;
}

/*====================================================================================================*/

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  float: right;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}