
/*=================================================================Index*/
.circulos{
    display: flex;
    margin: 0;
    padding: 0; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.c_index{
    width: 500px;
    margin: 0 auto;
    height: 200px;
    position: relative;
 }

 .c_index table{
    width: 200px;
    background: none;
    height: 100px;
    text-align: center;
 }
 .c_index input{
    background: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: solid #495881;
    border-width: 1px;
    outline: none;
 }
 .c_index button{
    margin-top: 30px;
 }
  /*====================================================================c_rol*/
.c_rol{
    width: 500px;
    margin: 0 auto;
    margin-top: 5%;
    height: 300px;
    border: 2px solid rgba(59, 130, 246, 0.3);
    text-align: center;

}
.c_rol button{
    width: 200px;
}
 /*===================================================================Main*/
 .c_main{
    max-width: 1400px;
    margin: 0px auto;
    border: 1px solid var(--light);
    background: var(--primary);
}
.c_main table{
    
}
.t_main{
    background: none;
 }
 .t_main td{
    border: 1px solid rgba(59, 130, 246, 0.3);
    height: 200px;
    width: 20%;  
 }
 .t_main h1{
    position: relative;
    opacity: .8;
    color: beige;
    text-align: center;
    font-size: 1em;
  }
  .t_main a{
    cursor: pointer;
    text-decoration: none;
  }
  .t_main a:hover{
      opacity: .5;
  }
 .d_main{
    height: 200px;
    margin-top: 5px;
    position: relative;
    text-align: center;
 }
 .d_activo{
    height: 200px;
    margin-top: 5px;
    position: relative;
    text-align: center;
 }
 .d_main img{
   width: 75%;
   text-align: center;
 }
 .d_activo img{
   width: 65%;
 }
 .d_activo table{
   max-width: 250px;
 }
 .d_activo table td{
    height: 40px;
 }
 .d_activo table th{
    color:#60a5fa;
 }
 .d_activo table td{
    color:#f8441d;
 }
 .dato{
    margin-top: -46%;
    font-size: 2em;
    color: #f8441d;
 }
 .datoa{
    margin-top: -39%;
    font-size: 2em;
    color: #f8441d;
 }
 .d_main table{
   max-width: 250px;
 }
 .d_main table td{
    height: 40px;
 }
 .d_main table th{
    color:#60a5fa;
 }
 .d_main table td{
    color:#f8441d;
 }
/*====================================================================*/
.t_perfil{
    width: 500px;
    border: solid 1px rgba(0, 162, 255, 0.5);
    text-align: center;
    align-items: center;
}
.t_perfil input[type="file"]{
    width: 85%;
}
/*===============================================================================expedientes */
.tab-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 1px solid #ccc;
    color: #94a3b8;
}

.tab-menu li {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgba(59, 130, 246, 0.3);
    margin-right: 5px;
    background-color: #1e2a54;
    transition: background-color 0.3s ease;
    }

.tab-menu li.active {
    background-color: #2f4473;
    border-bottom: 1px solid #fff; /* Para que parezca que la pestaña "flota" */
    font-weight: bold;
    }

.tab-content {
    padding: 20px;
    border-top: none;
     
    }

.tab-pane {
    display: none; /* Oculta todas las pestañas por defecto */
    }

.tab-pane.active {
    display: block; /* Muestra solo la pestaña activa */
    }
 
/*====================================================================Usuarios===========*/


#verInformacion img{
    width: 500px;
    height: 500px;
}
#verInformacion video{
    width: 500px;
    height: 500px;
}
.img_usuarios{
    text-align: center;
}
.img_usuarios img{
    width: 100px;
    height: 100px;
}
.foto{/*Para cuando se carga la foto se resizaguie*/
    width: 200px;
    height: 200px;
}
/*====================================================================Logs=========================*/

#logs table{
    table-layout: fixed;
    text-align: justify;
}
#logs table td{
 word-wrap: break-word;
}

/*====================================================================Mensaje=======================*/
.c_mensaje{
    background-color: rgb(255, 255, 255, .1);
    border: 2px solid rgba(59, 130, 246, 0.3);
    width: 500px;
    margin: 0px auto;
    margin-top: 100px;
    height: 150px;
    text-align: center;
}
.c_mensaje table{
    width: 100%;
    text-align: center;
}
.engranes{
    text-align: center;
}

/*================================================================Documentos============================*/
.revisado{
    font-weight: bolder;
    color: green;
}
.pendiente{
    font-weight: bolder;
    color: #f8441d;
}
